
body{
  margin: 0;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  height: 100vh;
  float:right;
  width: auto;
}
#container{
 
  flex: 1;
  overflow-y: auto;
background-color: white;
}
#navbar{
display:flex;
justify-content: space-between;
font-size: 20px;
align-items: center;
padding: 10px;
background-color: white;
}
#navbar h1{
  font-size: 20px;
  
}
button{
  border: transparent;
  height: 30px;
  background-color: transparent;
  color: red;
  font-weight: bolder;
  cursor: pointer;
}

#reward{
  display: flex;
  height: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

#coupon{
  font-size: 5px;
  
}
#price_details{
  
  font-size: 7px;    
  height: 160px;
 
  
}
#price_details div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
#redeem{
  
  font-size: 7px;
}
#bottom{
display:flex;
justify-content: space-around;
font-size: 10px;
align-items: center;
padding: 10px;
background-color: white;

}
#reward, #coupon, #price_details, #redeem {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}
 #cartContainer div{
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}
#cartContainer img {
  width: 100px;
}

#cartContainer button {
  cursor: pointer;
}
